<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- WHATEVER STUFF -->
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="daphynci-internet-of-things">
    <meta name="author" content="daphynci">
    <!-- THESES NEED TO BE WIRED UP CORRECTLY -->
    <link rel="shortcut icon" href="../assets/global/images/favicon.png" type="image/png">
    <link href="../assets/global/css/style.css" rel="stylesheet">
    <link href="../assets/global/css/theme.css" rel="stylesheet">
    <link href="../assets/global/css/ui.css" rel="stylesheet">
    <link href="../assets/admin/layout1/css/layout.css" rel="stylesheet">
    <script src="../assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="fixed-topbar fixed-sidebar theme-sdtl color-default">

  </body>
</html>